<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-href="/">
        The International Fantasy Stats
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-if="false" class="active"><a ng-href="/">Home</a></li>
        <li ng-if="false"><a ng-href="swap#/swap">Swap</a></li>
        <li ng-if="false"><a ng-href="swap#/friends">Friends</a></li>
      </ul>

      <ul ng-if="false" class="nav navbar-nav navbar-right acme-navbar-text">
        <li>Application was created {{ vm.relativeDate }}.</li>
      </ul>
    </div>
  </div>
</nav>
