<div class="container">

  <div>
    <acme-navbar creationDate="main.creationDate" />
  </div>
  <div class="btn-group" role="group" aria-label="Order By">
    <button type="button" class="btn btn-default" ng-repeat="opt in ft.sortOptions" ng-click="ft.order($index)">{{opt.name}}</li>
  </div>
  <br /><br />
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Name</th>
        <th>Team</th>
        <th>Role</th>
        <th>Kill</th>
        <th>Death</th>
        <th>CS</th>
        <th>GPM</th>
        <th>Fight%</th>
        <th>Runes</th>
        <th>FB</th>
        <th>Wards</th>
        <th>Towers</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in ft.players | filter:{active:true} | orderBy:ft.predicate:ft.reverse" ng-show="player.active">
        <td>{{$index+1}}</td>
        <td>{{player.account_id}}</td>
        <td>{{player.name}}</td>
        <td>{{player.team_name}}</td>
        <td><span class="label label-default" ng-show="player.fantasy_role==1">C</span><span class="label label-info" ng-show="player.fantasy_role==2">S</span></td>
        <td>{{player.stats.fantasy.kills | number:2}}</td>
        <td>{{player.stats.fantasy.deaths | number:2}}</td>
        <td>{{player.stats.fantasy.last_hits | number:2}}</td>
        <td>{{player.stats.fantasy.gpm | number:2}}</td>
        <td>{{player.stats.fantasy.team_fight | number:2}}</td>
        <td>{{player.stats.fantasy.runes | number:2}}</td>
        <td>{{player.stats.fantasy.first_blood | number:2}}</td>
        <td>{{player.stats.fantasy.wards | number:2}}</td>
        <td>{{player.stats.fantasy.towers | number:2}}</td>
        <td>{{player.stats.fantasy.total | number:2}}</td>
      </tr>
    </tbody>
    
  </table>

</div>