<div class="container">

  <div>
    <acme-navbar creationDate="main.creationDate" />
  </div>


  <div class="btn-group" role="group" aria-label="Order By">
    <button type="button" class="btn btn-default" ng-repeat="opt in fr.sortOptions" ng-click="fr.order($index)">{{opt.name}}</li>
  </div>
  <p></p>
  <div class="well col-sm-6 col-md-4" ng-repeat="friend in fr.friends | orderBy:fr.predicate:fr.reverse">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" ng-src="{{friend.avatar}}">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{friend.personaname}} <small ng-if="friend.realname">~ {{friend.realname}}</small></h4>
        Friend Since: {{friend.friendship.friend_since*1000 | date:'medium'}}
      </div>
    </div>
  </div>

</div>