<style>

  .set {
    display: inline-table;
    padding:5px;
    margin:5px;
    width:30%;
    min-width: 300px;
  }
  .iown {
    font-weight: bold;
    text-decoration: underline;
  }

  .set .common {
    color: #b0c3d9;
  }
  .set .uncommon {
    color: #5e98d9;
  }
  .set .rare {
    color: #1A87F9;
  }
  .set .mythical {
    color: #8847ff;
    border: 2px solid #8847ff;
    /*background-color: #f3ecff;
    border-radius: 18px 65px 0px 0px / 0px 57px 0px 0px;
    */
  }
  .set .legendary {
    color: #8b1d98;
    border: 2px solid #8b1d98;
  }
  .set .ancient {
    color: #eb4b4b;
  }
  .set .immortal {
    color: #e4ae39;
    border: 2px solid #e4ae39;
    background-color: #f0f0f4;
  }
  .set .arcana {
    color: #CF6A32;
    border: 2px solid #CF6A32;
    /*background-color: #f6fcee;*/
  }
  .mini img {
    width: 22px;
    height: 22px;
  }
  .mythical img {
    border-color: #CF6A32;
  }
  .mythical img {
    border-color: #CF6A32;
  }

  .title {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
  }
  .hero-name {
    padding-left: 10px;
    font-weight: 900;
  }

  ul {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 20px;
  }
  .outline {
    padding:5px;
    margin:5px;
    border: 1px solid #eee;
    border-left: 5px solid #eee;
    border-radius: 3px;
  }
  .outline-ingame {
    border-left: 5px solid green;
  }
  .outline-online {
    border-left: 5px solid #53A4C4;
  }
  .outline-offline {
    
  }
  .selected-friend {
    padding:4px;
    border: 2px solid #5bc0de;
    border-left-width: 5px;
    background-color: #f7f7f9;
  }
  
</style>
<div class="container">

  <div>
    <acme-navbar creationDate="main.creationDate" />
  </div>

  <div>
    <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="steamId">Steam Id</label>
        <input type="text" class="form-control" id="steamId" placeholder="Steam Id" ng-model="swap.mySteamId">
      </div>
      <button type="submit" class="btn btn-default" ng-click="swap.setup()">Get Items</button>
    </form>
  </div>


  <div>
    <div class="set col-xs-4 outline" ng-class="{'outline-online': friend.personastate==1,'outline-ingame': friend.personastate==2, 'selected-friend': friend.steamid==swap.selectedFriend}" ng-repeat="friend in swap.friends | orderBy: personaname">
      <div ng-click="swap.compareItemsWithFriend(friend)">
        <div>
          <img ng-src="{{friend.avatar}}" /> {{friend.personaname}}
          <span ng-show="friend.items.loading" class="label label-warning pull-right">Loading Items</span>
          <span ng-show="friend.items.error" class="label label-danger pull-right" tooltip="Must make Steam Inventory Public.">Load Failed</span>
          <span ng-show="friend.items.loaded" class="label label-primary pull-right">{{friend.items.sets.length}}</span>
        </div>
      </div>
    </div>
  </div>
  
  <p class="clearfix"></p>

  <div class="btn-group" role="group" aria-label="Sort By">
    <button type="button" class="btn btn-default" ng-click="swap.sortBy('hero')">Hero</button>
    <button type="button" class="btn btn-default" ng-click="swap.sortBy('name')">Name</button>
    <button type="button" class="btn btn-default" ng-click="swap.sortBy('have')">#Owned</button>
    <button type="button" class="btn btn-default" ng-click="swap.sortBy('miss')">#Missing</button>
  </div>

  <div class="btn-group" role="group" aria-label="Filter">
    <a class="btn btn-default" role="button" ng-click="swap.filterSets()">All</a>
    <a class="btn btn-default" role="button" ng-click="swap.filterSets('complete')">Completed</a>
    <a class="btn btn-default" role="button" ng-click="swap.filterSets('some')">Incompleted</a>
    <a class="btn btn-default" role="button" ng-click="swap.filterSets('fcomplete')">F Completes</a>
  </div>
  <p></p>
  <div>
    <div class="set col-xs-4" ng-repeat="set in swap.sets">
      <div class="title set" ng-class="set.rarity"><span class="mini pull-right"><img ng-src="{{set.hero_image_mini}}" /></span><span class="hero-name">{{set.name}}</span></div>
      <ul>
        <li ng-repeat="item in set.items" ng-class="[{'ancient': item.iOwn}]">{{item.name}}</li>
      </ul>
    </div>
  </div>

</div>
